@(title: String)(content: Html)(implicit context: controllers.ActionContext)<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="partake-no-image" content="@routes.Assets.at("images/no-image.png")">
    @if(context.loginUser != null && !context.loginUser.isEmpty) {
    <meta name="partake-user-id" content="@context.loginUser.get.getId()">
    }
    @if(context.sessionToken != null) {
    <meta name="partake-session-token" content="@context.sessionToken">
    }

    @base.stylesheet()

    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.ico")">

    @base.googleCodeSnippet()
    <title>@title - [PARTAKE]</title>
</head>
<body>
@base.header()
@content
@base.footer()
</body>
</html>
