@(ctx: in.partake.controller.PartakeActionContext, user: in.partake.model.UserEx, ident: String)

<div id="@ident-whole" data-ident="@ident" data-user-id="@user.getId()">
<table class="table table-striped">
    <thead>
        <tr><th>&nbsp;</th><th>イベントタイトル</th><th>開催日</th><th>チケット名</th><th>参加ステータス</th></tr>
    </thead>
    <tbody id="@ident-tbody">
    </tbody>
</table>
</div>
<div id="@ident-none">
    <p>イベントがありません。</p>
</div>

<div id="@ident-pagination" class="pagination pagination-centered"></div>
