@(ctx: in.partake.controller.PartakeActionContext, user: in.partake.model.UserEx, ident: String, queryType: String)
<div id="@ident-whole" data-query-type="@queryType" data-ident="@ident" data-user-id="@user.getId()">
<table class="table table-striped">
    <colgroup>
        <col class="span1" /><col class="span6" /><col class="span3" /><col class="span2" />
    </colgroup>
    <thead>
        <tr><th>&nbsp;</th><th>イベントタイトル</th><th>開催日</th><th>参加人数/定員</th></tr>
    </thead>
    <tbody id="@ident-tbody">
    </tbody>
</table>
</div>
<div id="@ident-none">
    <p>イベントがありません。</p>
</div>

<div id="@ident-pagination" class="pagination pagination-centered"></div>
